body {
    text-align: center;
    font-size: 20px;
    color: purple;
    background-color: cyan;
    border: solid;
    border-color: #3627d9;
    border-radius: 80px;
}

.sp,
.di {
    margin: 20px;

}

img {
    border: solid;
    border-width: 3px;
    border-radius: 80px;
    border-colour: #9e2424;
    width: 30%;
    height: 50%;

}

p {
    font-size: 20px;
    color: brown;
    font-family: 'Poppins', sans-serif;

}
